*{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainContent {
    border: solid 0px transparent;
    border-radius: 10px;
    background-color: #daf0ff;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 550px;
    display: flex;
    justify-content: space-around;
}

.title {
    margin-top: 15%;
    margin-bottom: 25%;
    font-size: xx-large;
}

body{
    background: linear-gradient( to right,  rgb(160, 153, 253), rgb(103, 132, 226), rgb(51, 79, 238));
}


.mainForm{
    display: flex;
    flex-direction: column;
}

label{
    font-size: larger;
}

input{
    width: 50%;
}


.contentCEP{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contentCEP input{
    margin-top: 5%;
    border-radius: 5px;
    height: 36px;
}

#submit:hover {
    transition: 0.25s;
    background-color: rgb(134, 152, 255);
}


@media (max-width: 1100px){
    input{
        width: 50%;
    }
    .mainContent{
        width: 50%;
        display: grid;
    }
}

@media (max-width: 650px){
    .title{
        font-size: large;
    }
}

@media (max-width: 400px){
    .mainContent{
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}
